body{
    width: 100%;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed; /* Mantém a imagem fixa enquanto rola */
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: transparent;
    background: linear-gradient(45deg, #034131, #116f80 ); 
    -webkit-background-clip: text;
    background-clip: text;
    margin-top: 5%;
    
}
  

.main h1{
    font-size: 6em;
}

.main h2{
    font-size: 3em;
    margin-bottom: 20px;
    
}

.redes{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}


.icon{
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin: 3px;
    overflow: hidden;
    transition: all 0.5s ease-out ;
    cursor: pointer;
   
}

.icon:hover {
    width: 180px;
    background: linear-gradient(45deg, #116f80, #034131);
    border-radius: 20px;
}

.icon i{
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 50px;
    border-radius: 30px;
    cursor: pointer;
    color: #050505;
}


.icon span{
    display: flex;
    align-items: center;
    transition: opacity 0.5s ease-out;
    opacity: 0;
}

.icon:hover span {
    opacity: 1;;
}


.icon span a{
    list-style: none;
    display: flex;
    margin-right: 25px;
    font-weight: 200;
    font-size: 20px;
    line-height: 35px ;
    color: #050505;
    font-weight: 400;
    
}

.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 700px;
    height: 130px;
    background: linear-gradient(45deg, #157565, #12565f);
    color: wheat;
    margin-top: 20px;
    font-size: 1.2em;
    border-radius: 20px;
    box-shadow: 0 5px 5px #125242;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    color: #050505;
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 40px;
}